header {
display: flex;
flex-direction:column;
align-items: center;
}

.logo{
    border: 0;
    border-style: none;
    font-size: x-large;
    font-weight: 500;
    background: none;
}

body {
    background-color: yellow;
}